@inherits FBase;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<ul class="nav nav-pills card-header-pills" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" data-bs-toggle="tab" href="#thongtin" role="tab" aria-selected="true">
							@Get_Language_Data_Field("Thông tin")
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link" data-bs-toggle="tab" href="#record_action_history" role="tab" aria-selected="false" tabindex="-1">
							@Get_Language_Data_Field("Lịch sử xử lý")
						</a>
					</li>
				</ul>

				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
				</button>
			</div>

			@((MarkupString)r_strError)

			<EditForm Model="@m_objData">
				<div class="modal-body">
					<div class="tab-content">
						<div class="tab-pane active show" id="thongtin" role="tabpanel">
							<div class="row">
							<div class="col-lg-4">
								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("ID")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Auto_ID, true)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Mã chủ hàng")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Ma_Chu_Hang, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Tên viết tắt")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Ten_Viet_Tat, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Tên chủ hàng")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Ten_Chu_Hang, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Địa chỉ")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Dia_Chi, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Điện thoại")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Dien_Thoai, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Email")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Email, false)</span>
									</div>
								</div>

									<div class="row mb-3">
										<div class="col-lg-11">
											<label class="form-label-info">@Get_Language_Data_Field("Image_URL_Thumb")</label><br />
											<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Image_URL_Thumb, false)</span>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-lg-11">
											<label class="form-label-info">@Get_Language_Data_Field("URL Image")</label><br />
											<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Image_URL, false)</span>
										</div>
									</div>

							</div>

							<div class="col-lg-4">
								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Mã số thuế")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.MST, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Header Title")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Header_Title, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Ghi chú")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Ghi_Chu, false)</span>
									</div>
								</div>

							</div>

							<div class="col-lg-4">
								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Ngày giờ tạo")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Created, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Người tạo")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Created_By, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Chức năng tạo")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Created_By_Function, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Ngày giờ cập nhật sau cùng")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Last_Updated, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Người cập nhật sau cùng")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Last_Updated_By, false)</span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-lg-11">
										<label class="form-label-info">@Get_Language_Data_Field("Chức năng cập nhật sau cùng")</label><br />
										<span class="form-label">@CUtility.Get_Label_Text(@m_objData.Last_Updated_By_Function, false)</span>
									</div>
								</div>

							</div>

							</div>
						</div>

						<div class="tab-pane" id="record_action_history" role="tabpanel">
							<FCommon_Record_Action_History_List v_arrData="@m_arrRAH" />
						</div>
					</div>
				</div>
			</EditForm>
		</div>
	</div>
</div>

@code {
	private CDM_Chu_Hang m_objData = new();
	private List<CLog_Record_Action_History> m_arrRAH = new();

	protected override void Load_Data()
	{
		CDM_Chu_Hang_Controller v_objCtrData = new();
		CLog_Record_Action_History_Controller v_objCtrRAH = new();

		m_objData = v_objCtrData.FQ_104_CH_sp_sel_Get_By_ID(r_iAuto_ID);

		m_arrRAH = v_objCtrRAH.FCommon_Sys_sp_sel_List_Log_Record_Action_History(r_iAuto_ID);
	}
}
