@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                @if (r_iAuto_ID != 0)
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
                }
                else
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @((MarkupString)r_strError)
            
            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">                           
                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Mã đăng nhập"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <FControl_Ma_Dang_Nhap_Combo m_arrData="@m_arrThanh_Vien" @bind-BindingValue="@m_objData.Thanh_Vien_ID"></FControl_Ma_Dang_Nhap_Combo>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </EditForm>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public long m_lngKho_ID { get; set; }
    private CDM_Kho m_objKho = new();
    private CDM_Kho_User m_objData = new();
    private CSys_Thanh_Vien_Controller v_objCtrThanh_Vien = new CSys_Thanh_Vien_Controller();
    private List<CSys_Thanh_Vien> m_arrThanh_Vien = new();
    protected override void Init_Data()
    {
    }

    protected override void Load_Data()
    {
        //Load data kho
        CDM_Kho_Controller v_objCtrKhoData = new();
        m_objKho = v_objCtrKhoData.FQ_114_K_sp_sel_Get_By_ID(m_lngKho_ID);
        //Load data Kho User
        CDM_Kho_User_Controller v_objCtrData = new();
        m_objData = v_objCtrData.FQ_117_KU_sp_sel_Get_By_ID(r_iAuto_ID);

        @if (m_lngKho_ID != 0)
        {
            //Load data thành viên không thuộc kho đang chọn phục vụ việc filter mã đăng nhập
            m_arrThanh_Vien = v_objCtrThanh_Vien.F117_sp_sel_List_Thanh_Vien_Khong_Thuoc_Kho(m_lngKho_ID);
        }
        else
        {
            m_arrThanh_Vien = null;
        }

        if (m_objData == null)
        {
            m_objData = new CDM_Kho_User();
        }
        else
        {
            r_bUpdate = true;

            // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
            CDM_Kho_User v_objClone = new();
            CUtility.Clone_Entity(m_objData, v_objClone);
            r_objSource = v_objClone;
            // End tracking
        }
    }

    protected override void Add_Data()
    {
        CDM_Kho_User_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
        if (m_lngKho_ID != 0)
        {
            m_objData.Kho_ID = m_lngKho_ID;
        }
        m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_117_KU_sp_ins_Insert(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        r_strAdd_Key = m_objData.Ma_Dang_Nhap;
        // End tracking

        CCache_Kho_User.Add_Data(m_objData);
    }

    protected override void Update_Data()
    {
        CDM_Kho_User_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;

        v_objCtrData.FQ_117_KU_sp_upd_Update(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CDM_Kho_User v_objClone = new();
        CUtility.Clone_Entity(m_objData, v_objClone);
        r_objDes = v_objClone;
        // End tracking

        CCache_Kho_User.Update_Data(m_objData);
    }
}
