@inherits FBase;
@inject IJSRuntime JsRuntime

<EditForm Model="@r_objFilter">
    <div class="row">
        <div class="col-lg-8">
            <div class="row g-3">
                <div style="width: 300px; padding-top: 8px;">
                    <label class="form-label">@Get_Language_Data_Field("Nhóm thành viên"):</label>
                        <TelerikMultiColumnComboBox Data="@m_arrNhom_Thanh_Vien"
                                                @bind-Value="@m_iNhom_Thanh_Vien"
                                                OnChange="@OnChangeHandler_Nhom_TV"
                                                ValueField="@nameof(CSys_Nhom_Thanh_Vien.Auto_ID)"
                                                TextField="@nameof(CSys_Nhom_Thanh_Vien.Ten_Nhom_Thanh_Vien)"
                                                ScrollMode="@DropDownScrollMode.Virtual"
                                                Width="100%"
                                                PageSize="10"
                                                ItemHeight="35"
                                                Filterable="true"
                                                FilterOperator="@StringFilterOperator.Contains"
                                                ListHeight="260px">
                        <MultiColumnComboBoxColumns>
                            <MultiColumnComboBoxColumn Field="@nameof(CSys_Nhom_Thanh_Vien.Ten_Nhom_Thanh_Vien)" Title="Nhóm" Class="k-tks-combobox-item" HeaderClass="k-tks-combobox-header"></MultiColumnComboBoxColumn>
                        </MultiColumnComboBoxColumns>
                    </TelerikMultiColumnComboBox>

                    @* <select class="form-control" data-choices @onchange="cboNhom_Thanh_Vien_Select_Index_Changed">
                        @foreach (CSys_Nhom_Thanh_Vien v_objData in m_arrNhom_Thanh_Vien)
                        {
                            <option value="@v_objData.Auto_ID">@v_objData.Ten_Nhom_Thanh_Vien</option>
                        }
                    </select> *@
                </div>

                <div style="width: 300px; padding-top: 8px;">
                    <label class="form-label">@Get_Language_Data_Field("Nhóm chức năng"):</label>
                    <TelerikMultiColumnComboBox Data="@m_arrNhom_CN"
                                                @bind-Value="@m_iNhom_Chuc_Nang_ID"
                                                OnChange="@OnChangeHandler_Nhom_CN"
                                                ValueField="@nameof(CCombo_Enum.Value)"
                                                TextField="@nameof(CCombo_Enum.Text)"
                                                ScrollMode="@DropDownScrollMode.Virtual"
                                                Width="100%"
                                                PageSize="10"
                                                ItemHeight="35"
                                                Filterable="true"
                                                FilterOperator="@StringFilterOperator.Contains"
                                                ListHeight="260px">
                        <MultiColumnComboBoxColumns>
                            <MultiColumnComboBoxColumn Field="@nameof(CCombo_Enum.Text)" Title="Nhóm" Class="k-tks-combobox-item" HeaderClass="k-tks-combobox-header"></MultiColumnComboBoxColumn>
                        </MultiColumnComboBoxColumns>
                    </TelerikMultiColumnComboBox>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0" style="float: right; padding-top: 35px;">
                <button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Load_Cache())">
                    @Get_Language_Data_Field("Load lại Cache")
                </button>

                @Layout_Tool_Button()
            </div>
        </div>
    </div>
</EditForm>
<div style="padding-top: 10px;"></div>

<table style="width: 2700px;">
    @((MarkupString)r_strError)
    <tr>
        <td style="width: 450px; padding-right: 20px;">
            <div class="card">
                <div class="card-body">
                    <TelerikGrid Data="@v_arrData_Level_1" Height="calc(100vh - 250px)" Resizable="true" Reorderable="true" @ref="@grdData_Level_1"
                                 OnRowClick="@grdData1_Row_Click">
                        <GridColumns>

                            @if (CCache_Grid_UI_Global.List_Data_By_Code("1005", "grdData").Count > 0)
                            {
                                <FCommon_General_Col_Grid m_strFCode="1005" m_strTen_Grid="grdData"></FCommon_General_Col_Grid>
                            }
                            else
                            {
                                <GridColumn Field="Ma_Chuc_Nang" Title="Mã CN" Width="60px"></GridColumn>
                                <GridColumn Field="Ten_Chuc_Nang" Title="Tên chức năng"></GridColumn>
                                <GridColumn Field="Sort_Priority" Title="Sort" Width="50px"></GridColumn>
                                <GridColumn Field="Is_Have_View_Permission" Title="Xem" Width="50px">
                                    <HeaderTemplate>
                                        @Get_Language_Data_Field("Xem")
                                    </HeaderTemplate>
                                    <Template>
                                        @{
                                            var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_View_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_1_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_1_Changed">
                                                }
                                            </div>
                                        }
                                    </Template>
                                </GridColumn>

                                <GridColumn Field="Is_Have_Add_Permission" Title="Thêm" Width="50px">
                                    <HeaderTemplate>
                                        @Get_Language_Data_Field("Thêm")
                                    </HeaderTemplate>
                                    <Template>
                                        @{
                                            var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                            if (v_objChuc_Nang.Is_New == true)
                                            {
                                                <div class="form-check form-switch form-switch-success">
                                                    @if (v_objChuc_Nang.Is_Have_Add_Permission == true)
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_1_Changed" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_1_Changed">
                                                    }
                                                </div>
                                            }
                                        }
                                    </Template>
                                </GridColumn>

                                <GridColumn Field="Is_Have_Edit_Permission" Title="Sửa" Width="50px">
                                    <HeaderTemplate>
                                        @Get_Language_Data_Field("Sửa")
                                    </HeaderTemplate>
                                    <Template>
                                        @{
                                            var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                            if (v_objChuc_Nang.Is_Edit == true)
                                            {
                                                <div class="form-check form-switch form-switch-success">
                                                    @if (v_objChuc_Nang.Is_Have_Edit_Permission == true)
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_1_Changed" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_1_Changed">
                                                    }
                                                </div>
                                            }
                                        }
                                    </Template>
                                </GridColumn>

                                <GridColumn Field="Is_Have_Delete_Permission" Title="Xóa" Width="50px">
                                    <HeaderTemplate>
                                        @Get_Language_Data_Field("Xóa")
                                    </HeaderTemplate>
                                    <Template>
                                        @{
                                            var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                            if (v_objChuc_Nang.Is_Delete == true)
                                            {
                                                <div class="form-check form-switch form-switch-success">
                                                    @if (v_objChuc_Nang.Is_Have_Delete_Permission == true)
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_1_Changed" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_1_Changed">
                                                    }
                                                </div>
                                            }
                                        }
                                    </Template>
                                </GridColumn>

                                <GridColumn Field="Is_Have_Export_Permission" Title="Export" Width="50px">
                                    <HeaderTemplate>
                                        @Get_Language_Data_Field("Export")
                                    </HeaderTemplate>
                                    <Template>
                                        @{
                                            var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                            if (v_objChuc_Nang.Is_Export == true)
                                            {
                                                <div class="form-check form-switch form-switch-success">
                                                    @if (v_objChuc_Nang.Is_Have_Export_Permission == true)
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_1_Changed" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_1_Changed">
                                                    }
                                                </div>
                                            }
                                        }
                                    </Template>
                                </GridColumn>
                            }
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </td>

        <td style="width: 450px; padding-right: 20px;">
            <div class="card">
                <div class="card-body">
                    <TelerikGrid Data="@v_arrData_Level_2" Height="calc(100vh - 250px)" Resizable="true" Reorderable="true" @ref="@grdData_Level_2" OnRowClick="@grdData2_Row_Click">
                        <GridColumns>
                            <GridColumn Field="Ma_Chuc_Nang" Title="Mã CN" Width="60px"></GridColumn>
                            <GridColumn Field="Ten_Chuc_Nang" Title="Tên chức năng"></GridColumn>
                            <GridColumn Field="Sort_Priority" Title="Sort" Width="50px"></GridColumn>

                            <GridColumn Field="Is_Have_View_Permission" Title="Xem" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xem")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        <div class="form-check form-switch form-switch-success">
                                            @if (v_objChuc_Nang.Is_Have_View_Permission == true)
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_2_Changed" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_2_Changed">
                                            }
                                        </div>
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Add_Permission" Title="Thêm" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Thêm")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_New == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Add_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_2_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_2_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Edit_Permission" Title="Sửa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Sửa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Edit == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Edit_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_2_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_2_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Delete_Permission" Title="Xóa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xóa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Delete == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Delete_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_2_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_2_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Export_Permission" Title="Export" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Export")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Export == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Export_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_2_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_2_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </td>

        <td style="width: 450px; padding-right: 20px;">
            <div class="card">
                <div class="card-body">
                    <TelerikGrid Data="@v_arrData_Level_3" Height="calc(100vh - 250px)" Resizable="true" Reorderable="true" @ref="@grdData_Level_3" OnRowClick="@grdData3_Row_Click">
                        <GridColumns>
                            <GridColumn Field="Ma_Chuc_Nang" Title="Mã CN" Width="60px"></GridColumn>
                            <GridColumn Field="Ten_Chuc_Nang" Title="Tên chức năng"></GridColumn>
                            <GridColumn Field="Sort_Priority" Title="Sort" Width="50px"></GridColumn>

                            <GridColumn Field="Is_Have_View_Permission" Title="Xem" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xem")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        <div class="form-check form-switch form-switch-success">
                                            @if (v_objChuc_Nang.Is_Have_View_Permission == true)
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_3_Changed" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_3_Changed">
                                            }
                                        </div>
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Add_Permission" Title="Thêm" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Thêm")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_New == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Add_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_3_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_3_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Edit_Permission" Title="Sửa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Sửa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Edit == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Edit_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_3_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_3_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Delete_Permission" Title="Xóa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xóa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Delete == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Delete_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_3_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_3_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Export_Permission" Title="Export" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Export")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Export == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Export_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_3_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_3_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </td>

        <td style="width: 450px; padding-right: 20px;">
            <div class="card">
                <div class="card-body">
                    <TelerikGrid Data="@v_arrData_Level_4" Height="calc(100vh - 250px)" Resizable="true" Reorderable="true" @ref="@grdData_Level_4" OnRowClick="@grdData4_Row_Click">
                        <GridColumns>
                            <GridColumn Field="Ma_Chuc_Nang" Title="Mã CN" Width="60px"></GridColumn>
                            <GridColumn Field="Ten_Chuc_Nang" Title="Tên chức năng"></GridColumn>
                            <GridColumn Field="Sort_Priority" Title="Sort" Width="50px"></GridColumn>

                            <GridColumn Field="Is_Have_View_Permission" Title="Xem" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xem")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        <div class="form-check form-switch form-switch-success">
                                            @if (v_objChuc_Nang.Is_Have_View_Permission == true)
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_4_Changed" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_View_Grid_Level_4_Changed">
                                            }
                                        </div>
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Add_Permission" Title="Thêm" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Thêm")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_New == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Add_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_4_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Add_Grid_Level_4_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Edit_Permission" Title="Sửa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Sửa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Edit == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Edit_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_4_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Edit_Grid_Level_4_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Delete_Permission" Title="Xóa" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Xóa")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Delete == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Delete_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_4_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Delete_Grid_Level_4_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>

                            <GridColumn Field="Is_Have_Export_Permission" Title="Export" Width="50px">
                                <HeaderTemplate>
                                    @Get_Language_Data_Field("Export")
                                </HeaderTemplate>
                                <Template>
                                    @{
                                        var v_objChuc_Nang = context as CSys_Chuc_Nang;
                                        if (v_objChuc_Nang.Is_Export == true)
                                        {
                                            <div class="form-check form-switch form-switch-success">
                                                @if (v_objChuc_Nang.Is_Have_Export_Permission == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_4_Changed" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" role="switch" @onchange="chkCheck_Export_Grid_Level_4_Changed">
                                                }
                                            </div>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </div>
        </td>
    </tr>
</table>

@if (r_bIs_Show_Help_Guide == true)
{
    <FCommon_Help_Guide m_strFCode="@r_strActive_Function_Code" OnClose="@Close_Helpguide"></FCommon_Help_Guide>
}

@code {
    private List<CCombo_Enum> m_arrNhom_CN{ get; set; } = new();

    private List<CSys_Chuc_Nang> v_arrData_Level_1 = new();
    TelerikGrid<CSys_Chuc_Nang> grdData_Level_1 = new();

    private List<CSys_Chuc_Nang> v_arrData_Level_2 = new();
    TelerikGrid<CSys_Chuc_Nang> grdData_Level_2 = new();

    private List<CSys_Chuc_Nang> v_arrData_Level_3 = new();
    TelerikGrid<CSys_Chuc_Nang> grdData_Level_3 = new();

    private List<CSys_Chuc_Nang> v_arrData_Level_4 = new();
    TelerikGrid<CSys_Chuc_Nang> grdData_Level_4 = new();

    private int m_iNhom_Chuc_Nang_ID = 0;
    private long m_iNhom_Thanh_Vien = 0;

    private long m_iChuc_Nang_Parent_Level_1 = -1;
    private long m_iChuc_Nang_Parent_Level_2 = -1;
    private long m_iChuc_Nang_Parent_Level_3 = -1;
    private long m_iChuc_Nang_Parent_Level_4 = -1;

    private List<CSys_Nhom_Thanh_Vien> m_arrNhom_Thanh_Vien = new();

    private void LoadNhom_Chuc_Nang()
    {
        m_arrNhom_CN = new();
        CCombo_Enum v_obj = new();
        v_obj.Value = (int)ENhom_Chuc_Nang_ID.Quan_Tri;
        v_obj.Text = Get_Language_Data_Field("Quản trị");
        m_arrNhom_CN.Add(v_obj);

        v_obj = new();
        v_obj.Value = (int)ENhom_Chuc_Nang_ID.PDA_App;
        v_obj.Text = Get_Language_Data_Field("PDA App");
        m_arrNhom_CN.Add(v_obj);

        v_obj = new();
        v_obj.Value = (int)ENhom_Chuc_Nang_ID.API;
        v_obj.Text = Get_Language_Data_Field("API");
        m_arrNhom_CN.Add(v_obj);

        v_obj = new();
        v_obj.Value = (int)ENhom_Chuc_Nang_ID.Supplier_Portal;
        v_obj.Text = Get_Language_Data_Field("Supplier Portal");
        m_arrNhom_CN.Add(v_obj);
    }

    protected override void Init_Data()
    {
        LoadNhom_Chuc_Nang();
        m_iNhom_Chuc_Nang_ID = (int)ENhom_Chuc_Nang_ID.Quan_Tri;

        m_arrNhom_Thanh_Vien = CCache_Nhom_Thanh_Vien.Arr_Data.OrderBy(it => it.Ten_Nhom_Thanh_Vien).ToList();
        if (m_arrNhom_Thanh_Vien.Count > 0)
            m_iNhom_Thanh_Vien = m_arrNhom_Thanh_Vien[0].Auto_ID;
    }

    protected override void Load_Data()
    {
        Format_Grid(grdData_Level_1);
        Format_Grid(grdData_Level_2);
        Format_Grid(grdData_Level_3);
        Format_Grid(grdData_Level_4);
        CSys_Chuc_Nang_Controller v_objCtrData = new();
        //v_arrData_Level_1 = v_objCtrData.F1005_sp_sel_List_Chuc_Nang(m_iNhom_Chuc_Nang_ID, 0, m_iNhom_Thanh_Vien);
        v_arrData_Level_1 = v_objCtrData.FQ_507_CN_sp_sel_List_By_Nhom_CN_A_Parent_Func_A_Nhom_TV_ID(m_iNhom_Chuc_Nang_ID, 0, m_iNhom_Thanh_Vien);

        v_arrData_Level_2.Clear();
        v_arrData_Level_3.Clear();
        v_arrData_Level_4.Clear();



        Hide_Filter_Row(grdData_Level_1);
        Hide_Pageable(grdData_Level_1);
        Set_Grid_Single_Select(grdData_Level_1);

        Hide_Filter_Row(grdData_Level_2);
        Hide_Pageable(grdData_Level_2);
        Set_Grid_Single_Select(grdData_Level_2);

        Hide_Filter_Row(grdData_Level_3);
        Hide_Pageable(grdData_Level_3);
        Set_Grid_Single_Select(grdData_Level_3);

        Hide_Filter_Row(grdData_Level_4);
        Hide_Pageable(grdData_Level_4);
        Set_Grid_Single_Select(grdData_Level_4);
    }

    // public async Task cboNhom_Chuc_Nang_Select_Index_Changed(ChangeEventArgs e)
    // {
    //     await Task.Delay(1);

    //     m_iNhom_Chuc_Nang_ID = CUtility.Convert_To_Int32(e.Value);
    //     Load_Data_Init();
    // }

    private async Task OnChangeHandler_Nhom_CN(object value)
    {
        await Task.Delay(1);

        m_iNhom_Chuc_Nang_ID = CUtility.Convert_To_Int32(value);
        Load_Data_Init();
    }

    // public async Task cboNhom_Thanh_Vien_Select_Index_Changed(ChangeEventArgs e)
    // {
    //     await Task.Delay(1);

    //     r_objLayout.Start_Loading();

    //     m_iNhom_Thanh_Vien = CUtility.Convert_To_Int32(e.Value);
    //     Load_Data_Init();

    //     r_objLayout.Stop_Loading();
    // }

    private async Task OnChangeHandler_Nhom_TV(object value)
    {
        await Task.Delay(1);

        r_objLayout.Start_Loading();

        m_iNhom_Thanh_Vien = CUtility.Convert_To_Int64(value);
        Load_Data_Init();

        r_objLayout.Stop_Loading();
    }

    private async Task Xu_Ly_View_Permission(int p_iGrid_Level, ChangeEventArgs e)
    {
        CSys_Phan_Quyen_Chuc_Nang_Controller v_objCtrPQ = new CSys_Phan_Quyen_Chuc_Nang_Controller();

        await Task.Delay(1);

        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            long v_iChuc_Nang_Parent = 0;
            switch (p_iGrid_Level)
            {
                case 1: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_1; break;
                case 2: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_2; break;
                case 3: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_3; break;
                case 4: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_4; break;
            }

            if (m_iNhom_Thanh_Vien == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm thành viên"));

            if (m_iNhom_Chuc_Nang_ID == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm chức năng"));

            if (v_iChuc_Nang_Parent == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn chức năng phân quyền"));

            CSys_Phan_Quyen_Chuc_Nang v_objData = new CSys_Phan_Quyen_Chuc_Nang()
                {
                    Nhom_Thanh_Vien_ID = m_iNhom_Thanh_Vien,
                    Chuc_Nang_ID = v_iChuc_Nang_Parent,
                    Is_Have_View_Permission = CUtility.Convert_To_Bool(e.Value),
                    Last_Updated_By = r_strActive_User_Name,
                    Last_Updated_By_Function = r_strActive_Function_Code
                };

            v_objCtrPQ.F1005_sp_upd_Phan_Quyen_Chuc_Nang_View(v_objData);
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    private async Task Xu_Ly_Add_Permission(int p_iGrid_Level, ChangeEventArgs e)
    {
        CSys_Phan_Quyen_Chuc_Nang_Controller v_objCtrPQ = new CSys_Phan_Quyen_Chuc_Nang_Controller();

        await Task.Delay(1);

        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            long v_iChuc_Nang_Parent = 0;
            switch (p_iGrid_Level)
            {
                case 1: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_1; break;
                case 2: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_2; break;
                case 3: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_3; break;
                case 4: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_4; break;
            }

            if (m_iNhom_Thanh_Vien == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm thành viên"));

            if (m_iNhom_Chuc_Nang_ID == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm chức năng"));

            if (v_iChuc_Nang_Parent == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn chức năng phân quyền"));

            CSys_Phan_Quyen_Chuc_Nang v_objData = new CSys_Phan_Quyen_Chuc_Nang()
                {
                    Nhom_Thanh_Vien_ID = m_iNhom_Thanh_Vien,
                    Chuc_Nang_ID = v_iChuc_Nang_Parent,
                    Is_Have_Add_Permission = CUtility.Convert_To_Bool(e.Value),
                    Last_Updated_By = r_strActive_User_Name,
                    Last_Updated_By_Function = r_strActive_Function_Code
                };

            v_objCtrPQ.F1005_sp_upd_Phan_Quyen_Chuc_Nang_Add(v_objData);
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    private async Task Xu_Ly_Edit_Permission(int p_iGrid_Level, ChangeEventArgs e)
    {
        CSys_Phan_Quyen_Chuc_Nang_Controller v_objCtrPQ = new CSys_Phan_Quyen_Chuc_Nang_Controller();

        await Task.Delay(1);

        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            long v_iChuc_Nang_Parent = 0;
            switch (p_iGrid_Level)
            {
                case 1: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_1; break;
                case 2: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_2; break;
                case 3: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_3; break;
                case 4: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_4; break;
            }

            if (m_iNhom_Thanh_Vien == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm thành viên"));

            if (m_iNhom_Chuc_Nang_ID == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm chức năng"));

            if (v_iChuc_Nang_Parent == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn chức năng phân quyền"));

            CSys_Phan_Quyen_Chuc_Nang v_objData = new CSys_Phan_Quyen_Chuc_Nang()
                {
                    Nhom_Thanh_Vien_ID = m_iNhom_Thanh_Vien,
                    Chuc_Nang_ID = v_iChuc_Nang_Parent,
                    Is_Have_Edit_Permission = CUtility.Convert_To_Bool(e.Value),
                    Last_Updated_By = r_strActive_User_Name,
                    Last_Updated_By_Function = r_strActive_Function_Code
                };

            v_objCtrPQ.F1005_sp_upd_Phan_Quyen_Chuc_Nang_Edit(v_objData);
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    private async Task Xu_Ly_Delete_Permission(int p_iGrid_Level, ChangeEventArgs e)
    {
        CSys_Phan_Quyen_Chuc_Nang_Controller v_objCtrPQ = new CSys_Phan_Quyen_Chuc_Nang_Controller();

        await Task.Delay(1);

        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            long v_iChuc_Nang_Parent = 0;
            switch (p_iGrid_Level)
            {
                case 1: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_1; break;
                case 2: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_2; break;
                case 3: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_3; break;
                case 4: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_4; break;
            }

            if (m_iNhom_Thanh_Vien == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm thành viên"));

            if (m_iNhom_Chuc_Nang_ID == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm chức năng"));

            if (v_iChuc_Nang_Parent == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn chức năng phân quyền"));

            CSys_Phan_Quyen_Chuc_Nang v_objData = new CSys_Phan_Quyen_Chuc_Nang()
                {
                    Nhom_Thanh_Vien_ID = m_iNhom_Thanh_Vien,
                    Chuc_Nang_ID = v_iChuc_Nang_Parent,
                    Is_Have_Delete_Permission = CUtility.Convert_To_Bool(e.Value),
                    Last_Updated_By = r_strActive_User_Name,
                    Last_Updated_By_Function = r_strActive_Function_Code
                };

            v_objCtrPQ.F1005_sp_upd_Phan_Quyen_Chuc_Nang_Delete(v_objData);
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    private async Task Xu_Ly_Export_Permission(int p_iGrid_Level, ChangeEventArgs e)
    {
        CSys_Phan_Quyen_Chuc_Nang_Controller v_objCtrPQ = new CSys_Phan_Quyen_Chuc_Nang_Controller();

        await Task.Delay(1);

        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            long v_iChuc_Nang_Parent = 0;
            switch (p_iGrid_Level)
            {
                case 1: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_1; break;
                case 2: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_2; break;
                case 3: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_3; break;
                case 4: v_iChuc_Nang_Parent = m_iChuc_Nang_Parent_Level_4; break;
            }

            if (m_iNhom_Thanh_Vien == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm thành viên"));

            if (m_iNhom_Chuc_Nang_ID == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn nhóm chức năng"));

            if (v_iChuc_Nang_Parent == 0)
                throw new Exception(Get_Language_Data_Field("Vui lòng chọn chức năng phân quyền"));

            CSys_Phan_Quyen_Chuc_Nang v_objData = new CSys_Phan_Quyen_Chuc_Nang()
                {
                    Nhom_Thanh_Vien_ID = m_iNhom_Thanh_Vien,
                    Chuc_Nang_ID = v_iChuc_Nang_Parent,
                    Is_Have_Export_Permission = CUtility.Convert_To_Bool(e.Value),
                    Last_Updated_By = r_strActive_User_Name,
                    Last_Updated_By_Function = r_strActive_Function_Code
                };

            v_objCtrPQ.F1005_sp_upd_Phan_Quyen_Chuc_Nang_Export(v_objData);
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    public async Task chkCheck_View_Grid_Level_1_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_View_Permission(1, e);
    }

    public async Task chkCheck_Add_Grid_Level_1_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Add_Permission(1, e);
    }

    public async Task chkCheck_Edit_Grid_Level_1_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Edit_Permission(1, e);
    }

    public async Task chkCheck_Delete_Grid_Level_1_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Delete_Permission(1, e);
    }

    public async Task chkCheck_Export_Grid_Level_1_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Export_Permission(1, e);
    }

    public async Task chkCheck_View_Grid_Level_2_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_View_Permission(2, e);
    }

    public async Task chkCheck_Add_Grid_Level_2_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Add_Permission(2, e);
    }

    public async Task chkCheck_Edit_Grid_Level_2_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Edit_Permission(2, e);
    }

    public async Task chkCheck_Delete_Grid_Level_2_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Delete_Permission(2, e);
    }

    public async Task chkCheck_Export_Grid_Level_2_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Export_Permission(2, e);
    }

    public async Task chkCheck_View_Grid_Level_3_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_View_Permission(3, e);
    }

    public async Task chkCheck_Add_Grid_Level_3_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Add_Permission(3, e);
    }

    public async Task chkCheck_Edit_Grid_Level_3_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Edit_Permission(3, e);
    }

    public async Task chkCheck_Delete_Grid_Level_3_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Delete_Permission(3, e);
    }

    public async Task chkCheck_Export_Grid_Level_3_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Export_Permission(3, e);
    }

    public async Task chkCheck_View_Grid_Level_4_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_View_Permission(4, e);
    }

    public async Task chkCheck_Add_Grid_Level_4_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Add_Permission(4, e);
    }

    public async Task chkCheck_Edit_Grid_Level_4_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Edit_Permission(4, e);
    }

    public async Task chkCheck_Delete_Grid_Level_4_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Delete_Permission(4, e);
    }

    public async Task chkCheck_Export_Grid_Level_4_Changed(ChangeEventArgs e)
    {
        await Xu_Ly_Export_Permission(4, e);
    }

    private void Load_Data_Level_2()
    {
        CSys_Chuc_Nang_Controller v_objCtrData = new();

        r_objLayout.Start_Loading();

        try
        {
            //v_arrData_Level_2 = v_objCtrData.F1005_sp_sel_List_Chuc_Nang(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_1, m_iNhom_Thanh_Vien);
            v_arrData_Level_2 = v_objCtrData.FQ_507_CN_sp_sel_List_By_Nhom_CN_A_Parent_Func_A_Nhom_TV_ID(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_1, m_iNhom_Thanh_Vien);

            m_iChuc_Nang_Parent_Level_2 = -1;
            m_iChuc_Nang_Parent_Level_3 = -1;
            m_iChuc_Nang_Parent_Level_4 = -1;

            v_arrData_Level_3 = new();
            v_arrData_Level_4 = new();
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    // Không làm hiệu ứng loading vì khá khó chịu -- TienPV 20/11/2022
    private void grdData1_Row_Click(GridRowClickEventArgs args)
    {
        long v_iNew = ((CSys_Chuc_Nang)args.Item).Auto_ID;

        if (v_iNew != m_iChuc_Nang_Parent_Level_1)
        {
            m_iChuc_Nang_Parent_Level_1 = v_iNew;
            Load_Data_Level_2();
        }
    }

    private void Load_Data_Level_3()
    {
        CSys_Chuc_Nang_Controller v_objCtrData = new();
        r_objLayout.Start_Loading();

        try
        {
            //v_arrData_Level_3 = v_objCtrData.F1005_sp_sel_List_Chuc_Nang(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_2, m_iNhom_Thanh_Vien);
            v_arrData_Level_3 = v_objCtrData.FQ_507_CN_sp_sel_List_By_Nhom_CN_A_Parent_Func_A_Nhom_TV_ID(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_2, m_iNhom_Thanh_Vien);

            m_iChuc_Nang_Parent_Level_3 = -1;
            m_iChuc_Nang_Parent_Level_4 = -1;

            v_arrData_Level_4 = new();
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    // Không làm hiệu ứng loading vì khá khó chịu -- TienPV 20/11/2022
    private void grdData2_Row_Click(GridRowClickEventArgs args)
    {
        long v_iNew = ((CSys_Chuc_Nang)args.Item).Auto_ID;

        if (v_iNew != m_iChuc_Nang_Parent_Level_2)
        {
            m_iChuc_Nang_Parent_Level_2 = ((CSys_Chuc_Nang)args.Item).Auto_ID;
            Load_Data_Level_3();
        }
    }

    private void Load_Data_Level_4()
    {
        CSys_Chuc_Nang_Controller v_objCtrData = new();
        r_objLayout.Start_Loading();

        try
        {
            //v_arrData_Level_4 = v_objCtrData.F1005_sp_sel_List_Chuc_Nang(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_3, m_iNhom_Thanh_Vien);
            v_arrData_Level_4 = v_objCtrData.FQ_507_CN_sp_sel_List_By_Nhom_CN_A_Parent_Func_A_Nhom_TV_ID(m_iNhom_Chuc_Nang_ID, m_iChuc_Nang_Parent_Level_3, m_iNhom_Thanh_Vien);

            m_iChuc_Nang_Parent_Level_4 = -1;
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }

    // Không làm hiệu ứng loading vì khá khó chịu -- TienPV 20/11/2022
    private void grdData3_Row_Click(GridRowClickEventArgs args)
    {
        long v_iNew = ((CSys_Chuc_Nang)args.Item).Auto_ID;

        if (v_iNew != m_iChuc_Nang_Parent_Level_3)
        {
            m_iChuc_Nang_Parent_Level_3 = ((CSys_Chuc_Nang)args.Item).Auto_ID;
            Load_Data_Level_4();
        }
    }

    private void grdData4_Row_Click(GridRowClickEventArgs args)
    {
        long v_iNew = ((CSys_Chuc_Nang)args.Item).Auto_ID;

        if (v_iNew != m_iChuc_Nang_Parent_Level_3)
        {
            m_iChuc_Nang_Parent_Level_4 = ((CSys_Chuc_Nang)args.Item).Auto_ID;
        }
    }

    private async Task Load_Cache()
    {
        await Task.Delay(1);
        r_strError = "";
        r_objLayout.Start_Loading();

        try
        {
            CCache_Phan_Quyen_Chuc_Nang.Load_Cache_Phan_Quyen_Chuc_Nang();
            //load lại Cache chức năng pda -Khangnt
            CCache_Chuc_Nang_App.Load_Cache_Chuc_Nang_App();
        }

        catch (Exception ex)
        {
            r_strError = CCommonFunction.Set_Error_MessageBox(ex.Message);
        }

        r_objLayout.Stop_Loading();
    }
}
