@inherits FBase_Edit;
<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                @if (p_iAPI_Source_Function_ID != 0)
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
                }
                else
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @(
                (MarkupString)r_strError
                )

            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Mã API Function"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <input @bind="@m_objData.Ma_API_Function" class="form-control">

                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Tên API Function"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <input @bind="@m_objData.Ten_API_Function" class="form-control">

                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Ghi chú"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <input @bind="@m_objData.Ghi_Chu" class="form-control">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </EditForm>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>
        </div>
    </div>
</div>

@code {
    private CSys_API_Source_Function m_objData = new();
    private CSys_API_Source_Function m_objEdit = new();

    [Parameter]
    public long p_iAPI_Source_ID { get; set; }

    [Parameter]
    public long p_iAPI_Source_Function_ID { get; set; }

    protected override void Init_Data()
    {

    }

    protected override void Load_Data()
    {
        CSys_API_Source_Function_Controller v_objCtrData = new();
        m_objData = v_objCtrData.FQ_504_ASF_sp_sel_Get_By_ID(p_iAPI_Source_Function_ID);

        if (m_objData == null)
            m_objData = new CSys_API_Source_Function();
        else
        {
            r_bUpdate = true;

            // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
            CSys_API_Source_Function v_objClone = new();
            CUtility.Clone_Entity(m_objData, v_objClone);
            r_objSource = v_objClone;
            // End tracking
        }
    }

    protected override void Add_Data()
    {
        CSys_API_Source_Function_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
        m_objData.API_Source_ID = p_iAPI_Source_ID;
        //m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.F1022_A_sp_ins_API_Source_Function(m_objData);
        m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_504_ASF_sp_ins_Insert(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        r_strAdd_Key = m_objData.Ma_API_Function;
        // End tracking

        CCache_API_Source.Load_Cache_API_Source();
    }

    protected override void Update_Data()
    {
        CSys_API_Source_Function_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
        //v_objCtrData.F1022_A_Update_Sys_API_Source_Function(m_objData);
        v_objCtrData.FQ_504_ASF_sp_upd_Update(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CSys_API_Source_Function v_objClone = new();
        CUtility.Clone_Entity(m_objData, v_objClone);
        r_objDes = v_objClone;
        // End tracking

        CCache_API_Source.Load_Cache_API_Source();
        CCache_API_Source_Function.Load_Cache_API_Source_Function();
    }

}
