@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-light">
				@if (r_iAuto_ID != 0)
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
				}
				else
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
				}
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
				</button>
			</div>

			@((MarkupString)r_strError)

			<EditForm Model="@m_objData">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Field name"):</label>
								</div>
								<div class="col-lg-8">
									<input @ref="txtFocus" @bind="@m_objData.Field_Name" class="form-control">

								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Độ rộng"):</label>
								</div>
								<div class="col-lg-8">
									<input type="number" @bind="@m_objData.Do_Rong" class="form-control">

								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Number Format"):</label>
								</div>
								<div class="col-lg-8">
									<input @bind="@m_objData.Format_Number" class="form-control">

								</div>
							</div>

						</div>
					</div>

				</div>
			</EditForm>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
			</div>
		</div>
	</div>
</div>

@code {
	private CSys_Column_Width m_objData = new();

	protected override void Init_Data()
	{

	}

	protected override void Load_Data()
	{
		CSys_Column_Width_Controller v_objCtrData = new();
		m_objData = v_objCtrData.FQ_509_CW_sp_sel_Get_By_ID(r_iAuto_ID);

		if (m_objData == null)
			m_objData = new CSys_Column_Width();
		else
		{
			r_bUpdate = true;

			CSys_Column_Width v_objClone = new();
			CUtility.Clone_Entity(m_objData, v_objClone);
			r_objSource = v_objClone;
		}
	}

	protected override void Add_Data()
	{
		CSys_Column_Width_Controller v_objCtrData = new();
		m_objData.Last_Updated_By = r_strActive_User_Name;
		m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
		//m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.F1027_sp_ins_Dieu_Chinh_Do_Rong_Cot(m_objData);
		m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_509_CW_sp_ins_Insert(m_objData);

		r_strAdd_Key = m_objData.Field_Name;

		CCache_Column_Width.Add_Data(m_objData);
	}

	protected override void Update_Data()
	{
		CSys_Column_Width_Controller v_objCtrData = new();
		m_objData.Last_Updated_By = r_strActive_User_Name;
		m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
		v_objCtrData.FQ_509_CW_sp_upd_Update(m_objData);

		CSys_Column_Width v_objClone = new();
		CUtility.Clone_Entity(m_objData, v_objClone);
		r_objDes = v_objClone;

		CCache_Column_Width.Update_Data(m_objData);
	}
}
