@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @((MarkupString)r_strError)

            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Mã API Source"):</label>
                                    <input @ref="txtFocus" @bind="@m_objData.Ma_API_Source" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Password"):</label>
                                    <input @bind="@m_objData.Password" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("ClientID 2"):</label>
                                    <input @bind="@m_objData.Client_ID_2" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Tên API Source"):</label>
                                    <input @bind="@m_objData.Ten_API_Source" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Token 1"):</label>
                                    <input @bind="@m_objData.Token_1" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Url Folder Download"):</label>
                                    <input @bind="@m_objData.Url_Folder_Download" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Link API"):</label>
                                    <input @bind="@m_objData.Link_API" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Token 2"):</label>
                                    <input @bind="@m_objData.Token_2" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Url Folder Upload"):</label>
                                    <input @bind="@m_objData.Url_Folder_Upload" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("User name"):</label>
                                    <input @bind="@m_objData.User_Name" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("ClientID 1"):</label>
                                    <input @bind="@m_objData.Client_ID_1" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Url Folder Download BAK"):</label>
                                    <input @bind="@m_objData.Url_Folder_Download_BAK" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3">                           
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Url Folder Upload BAK"):</label>
                                    <input @bind="@m_objData.Url_Folder_Upload_BAK" class="form-control">
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-3">                           
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Ghi chú"):</label>
                                    <input @bind="@m_objData.Ghi_Chu" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </EditForm>

            <div class="modal-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0" style="float: left;">
                            @if (r_objChuc_Nang.Is_Have_Add_Permission == true)
                            {
                                    <button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Open_Function_Edit(0))">
                                        <i class="ri-add-circle-fill align-bottom me-1"></i>
                                    @Get_Language_Data_Field("Thêm")
                                    </button>
                            }
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-12">
                        <TelerikGrid Data="@m_objData.Sys_API_Source_Function" Height="250px" Resizable="true" Reorderable="true" @ref="@grdData">                                       
                            <GridColumns>
                                <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
                                <GridColumn Width="30px">
                                    <Template Context="Sys_API_Source_Function">
                                        <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-cog-outline" style="color: purple;"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (r_objChuc_Nang.Is_Have_Edit_Permission == true)
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" @onclick="@(()=> Open_Function_Edit((Sys_API_Source_Function as CSys_API_Source_Function).Auto_ID))"><i class="ri-edit-2-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Hiệu chỉnh")</button>
                                                </li>
                                            }
                                            @if (r_objChuc_Nang.Is_Have_Delete_Permission == true)
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" @onclick="@(()=> Delete_Function((Sys_API_Source_Function as CSys_API_Source_Function)))"><i class="ri-delete-bin-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Xóa")</button>
                                                </li>
                                            }
                                        </ul>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="Ma_API_Function" Title="Mã Function" Width="100px"></GridColumn>
                                <GridColumn Field="Ten_API_Function" Title="Tên Function" Width="250px"></GridColumn>
                                <GridColumn Field="Ghi_Chu" Title="Ghi chú" Width="200px"></GridColumn>
                                <GridColumn Field="" Title=""><FooterTemplate></FooterTemplate></GridColumn>
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>
                        
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data" style="margin-right: 37px;">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>
        </div>
    </div>
</div>

@if (m_blIs_Show_Edit_Function == true)
{
        <F1022_A_API_Function_Edit p_iAPI_Source_Function_ID="@m_iAPI_Source_Function_ID" p_arrAPI_Source_Function="@m_objData.Sys_API_Source_Function" OnClose="@Close_Function"></F1022_A_API_Function_Edit>
}

@code {
    private CSys_API_Source m_objData = new();
    TelerikGrid<CSys_API_Source_Function> grdData = new();

    //start form Edit con
    private long m_iAPI_Source_Function_ID { get; set; } = 0;
    private bool m_blIs_Show_Edit_Function { get; set; } = false;
    //End form Edit con

    protected override void Init_Data()
    {
    }

    protected override void Load_Data()
    {
        Format_Grid(grdData);
        CSys_API_Source_Controller v_objCtrData = new();
        CSys_API_Source_Function_Controller v_objCtrlFunc = new();
        m_objData = v_objCtrData.FQ_501_AS_sp_sel_Get_By_ID(r_iAuto_ID);

        if (m_objData == null)
        {
            m_objData = new CSys_API_Source();
        }
        else
        {
            r_bUpdate = true;
            //m_objData.Sys_API_Source_Function = v_objCtrlFunc.F1022_3_List_Sys_API_Source_Function_By_API_Source_ID(m_objData.Auto_ID);
            m_objData.Sys_API_Source_Function = v_objCtrlFunc.FQ_504_ASF_sp_sel_List_By_API_Source_ID(m_objData.Auto_ID);

            // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
            CSys_API_Source v_objClone = new();
            CUtility.Clone_Entity(m_objData, v_objClone);
            r_objSource = v_objClone;
            // End tracking
        }

        
        Hide_Pageable(grdData);
    }

    public void Delete_Function(CSys_API_Source_Function p_objData)
    {
        m_objData.Sys_API_Source_Function.Remove(p_objData);
        grdData.Rebind();
    }

    private void AddCT_Function(SqlConnection p_conn, SqlTransaction p_trans, StringBuilder p_sbError)
    {
        CSys_API_Source_Function_Controller v_objCtrFunction = new();
        int v_iCount = 0;
        foreach (CSys_API_Source_Function v_obj in m_objData.Sys_API_Source_Function)
        {
            v_iCount++;
            try
            {
                //insert
                v_obj.API_Source_ID = r_iAuto_ID;
                //v_objCtrFunction.F1022_A_sp_ins_API_Source_Function(p_conn, p_trans, v_obj);
                v_objCtrFunction.FQ_504_ASF_sp_ins_Insert(p_conn, p_trans, v_obj);
            }
            catch (Exception ex)
            {
                p_sbError.AppendLine(Get_Language_Data_Field("Dòng") + " " + v_iCount.ToString() + " " + Get_Language_Data_Field("có lỗi") + ": " + ex.Message + ":" + v_obj.Ma_API_Function + "<br/>");
            }
        }
    }

    protected override void Add_Data()
    {
        SqlConnection v_conn = null;
        SqlTransaction v_trans = null;
        CSys_API_Source_Controller v_objCtrData = new();
       // CSys_API_Source_Function_Controller v_objCtrFunction = new();

        StringBuilder v_sbError = new StringBuilder();
        
        try
        {
            //tao ket noi transaction
            v_conn = CSqlHelper.CreateConnection(CConfig.TKS_Thuc_Tap_V11_Conn_String);
            v_conn.Open();
            v_trans = v_conn.BeginTransaction();

            m_objData.Last_Updated_By = r_strActive_User_Name;
            m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
            //m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.F1022_sp_ins_API_Source(v_conn, v_trans, m_objData);
            m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_501_AS_sp_ins_Insert(v_conn, v_trans, m_objData);

            //ghi tracking log
            r_strAdd_Key = "Key: " + m_objData.Ma_API_Source;

            //CẬP NHẬT dòng chi tiết
            AddCT_Function(v_conn, v_trans, v_sbError);           

            if (v_sbError.ToString().Length > 0)
                throw new Exception(v_sbError.ToString());

            v_trans.Commit();

            CCache_API_Source.Load_Cache_API_Source();
            CCache_API_Source_Function.Load_Cache_API_Source_Function();
        }

        catch (Exception ex)
        {
            if (v_trans != null)
                v_trans.Rollback();

            throw ex;
        }

        finally
        {
            if (v_trans != null)
                v_trans.Dispose();

            if (v_conn != null)
                v_conn.Close();
        }
    }


    #region form Edit con

    protected void Open_Function_Edit(long p_iAuto_ID)
    {
        r_strError = "";
        m_iAPI_Source_Function_ID = p_iAuto_ID;
        m_blIs_Show_Edit_Function = true;
        StateHasChanged();
    }

    private void Close_Function(CEvent_Call_Back p_obj)
    {
        if (p_obj.Message_ID != (int)EModal_Result.Exception)
        {
            m_blIs_Show_Edit_Function = false;
            grdData.Rebind();
        }
    }

    #endregion form Edit con

}
