@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-light">
				@if (r_iAuto_ID != 0)
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
				}
				else
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
				}
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
				</button>
			</div>

			@((MarkupString)r_strError)

			<EditForm Model="@m_objData">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Chủ hàng"):</label>
								</div>
								<div class="col-lg-8">
									@*<select @ref="txtFocus" @bind="@m_objData.Chu_Hang_ID" class="form-control" data-choices>
										<option value="0">&nbsp;</option>
										<option value="-5">@Get_Language_Data_Field("Tất cả")</option>
									</select>*@

									<FControl_Chu_Hang_Combo @bind-BindingValue="m_objData.Chu_Hang_ID"></FControl_Chu_Hang_Combo>
								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Field name"):</label>
								</div>
								<div class="col-lg-8">
									<input @bind="@m_objData.Field_Name" class="form-control">

								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Hiện / Ẩn"):</label>
								</div>
								<div class="col-lg-8">
									<TelerikMultiColumnComboBox Data="@m_arrCombo"
																@bind-Value="@m_objData.Option_ID"
																ValueField="@nameof(CCombo_Enum.Value)"
																TextField="@nameof(CCombo_Enum.Text)"
																ScrollMode="@DropDownScrollMode.Virtual"
																Width="100%"
																PageSize="10"
																ItemHeight="35"
																Filterable="true"
																FilterOperator="@StringFilterOperator.Contains"
																ListHeight="260px">
										<MultiColumnComboBoxColumns>
											<MultiColumnComboBoxColumn Field="@nameof(CCombo_Enum.Text)" Title="Trạng thái"></MultiColumnComboBoxColumn>
										</MultiColumnComboBoxColumns>
									</TelerikMultiColumnComboBox>								

								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Mã chức năng"):</label>
								</div>
								<div class="col-lg-8">
									<input @bind="@m_objData.Ma_Chuc_Nang" class="form-control">

								</div>
							</div>

						</div>
					</div>

				</div>
			</EditForm>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
			</div>
		</div>
	</div>
</div>

@code {
	private CSys_Hien_An_Column m_objData = new();
	private List<CCombo_Enum> m_arrCombo { get; set; } = new();

	protected override void Init_Data()
	{
		m_arrCombo = new();
		CCombo_Enum v_obj = new();
		v_obj.Value = (int)EHien_An_Option_ID.Hide;
		v_obj.Text = Get_Language_Data_Field("Ẩn");
		m_arrCombo.Add(v_obj);

		v_obj = new();
		v_obj.Value = (int)EHien_An_Option_ID.Visible;
		v_obj.Text = Get_Language_Data_Field("Hiển thị");
		m_arrCombo.Add(v_obj);
	}

	protected override void Load_Data()
	{
		CSys_Hien_An_Column_Controller v_objCtrData = new();
		m_objData = v_objCtrData.FQ_519_HAC_sp_sel_Get_By_ID(r_iAuto_ID);

		if (m_objData == null)
			m_objData = new CSys_Hien_An_Column();
		else
		{
			r_bUpdate = true;

			CSys_Hien_An_Column v_objClone = new();
			CUtility.Clone_Entity(m_objData, v_objClone);
			r_objSource = v_objClone;
		}
	}

	protected override void Add_Data()
	{
		CSys_Hien_An_Column_Controller v_objCtrData = new();
		m_objData.Last_Updated_By = r_strActive_User_Name;
		m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
		m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_519_HAC_sp_ins_Insert(m_objData);

		r_strAdd_Key = m_objData.Field_Name;

		CCache_Hien_An_Column.Add_Data(m_objData);
	}

	protected override void Update_Data()
	{
		CSys_Hien_An_Column_Controller v_objCtrData = new();
		m_objData.Last_Updated_By = r_strActive_User_Name;
		m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
		v_objCtrData.FQ_519_HAC_sp_upd_Update(m_objData);

		CSys_Hien_An_Column v_objClone = new();
		CUtility.Clone_Entity(m_objData, v_objClone);
		r_objDes = v_objClone;

		CCache_Hien_An_Column.Update_Data(m_objData);
	}
}
