@inherits FBase_Edit;
<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light">
                @if (r_iAuto_ID != 0)
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh chi tiết") (F1042_4)</h5>
                }
                else
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @((MarkupString)r_strError)

        

            <div class="modal-body" style="padding-top: 0px !important;">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-12">
                        <TelerikGrid Data="@m_arrData" Height="350px" Resizable="true" Reorderable="true" @ref="@grdData">
                            <GridColumns>
                                <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
                                <GridColumn Width="40px">
                                    <Template Context="API_Source_Chu_Hang_Function">
                                        <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-cog-outline" style="color: purple;"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (r_objChuc_Nang.Is_Have_Edit_Permission == true)
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" @onclick="@(()=> Open_STT_Edit((API_Source_Chu_Hang_Function as CSys_STT_Next_Detail).Auto_ID))"><i class="ri-edit-2-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Hiệu chỉnh")</button>
                                                </li>
                                            }                                          
                                        </ul>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="Ma_Kho" Title="Mã kho" Width="100px"></GridColumn>
                                <GridColumn Field="Ma_Chu_Hang" Title="Mã chủ hàng" Width="100px"></GridColumn>
                                <GridColumn Field="Ngay_Giao_Dich" Title="Ngày giao dịch" Width="100px"></GridColumn>
                                <GridColumn Field="STT_Current" Title="STT Current" Width="90px"></GridColumn>
                                <GridColumn Field="Quy_Tac_Phieu" Title="Qui tắc phiếu" Width="200px"></GridColumn>
                                <GridColumn Field="Type_Text" Title="Type" Width="100px"></GridColumn>
                                <GridColumn Field="" Title=""><FooterTemplate></FooterTemplate></GridColumn>
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>
@if (m_blIs_Show_Edit == true)
{
    <F1042_4_1_Cau_Hinh_So_Phieu_STT_Edit p_iSTT_Detail_ID="@m_iSTT_Detail_ID" OnClose="@Close_STT_Edit"></F1042_4_1_Cau_Hinh_So_Phieu_STT_Edit>
}

@code {
    private List<CSys_STT_Next_Detail> m_arrData = new ();

    private TelerikGrid<CSys_STT_Next_Detail> grdData = new();

    //start form Edit con
    private long m_iSTT_Detail_ID { get; set; } = 0;
    private bool m_blIs_Show_Edit { get; set; } = false;
    //End form Edit con


    protected override void Init_Data()
    {

    }


    protected override void Load_Data()
    {
        Format_Grid(grdData);
        CSys_STT_Next_Detail_Controller v_objCtrl= new();
        m_arrData = v_objCtrl.FQ_530_SND_sp_sel_List_By_STT_ID(r_iAuto_ID);
    }


    #region form Edit con

    protected void Open_STT_Edit(long p_iAuto_ID)
    {
        r_strError = "";
        m_iSTT_Detail_ID = p_iAuto_ID;
        m_blIs_Show_Edit= true;
        StateHasChanged();
    }

    private void Close_STT_Edit(CEvent_Call_Back p_obj)
    {
        if (p_obj.Message_ID != (int)EModal_Result.Exception)
        {
            m_blIs_Show_Edit = false;
            Load_Data_Init();
        }
    }

    #endregion form Edit con
}
