@inherits FBase;

@Layout_Default_Filter(grdData, "")
<div style="padding-top: 10px;"></div>

<div class="row">
    <div class="col-lg-12">
        @((MarkupString)r_strError)

        <TelerikGrid Data="@v_arrData" Height="calc(100vh - 170px)" Resizable="true" Reorderable="true" @ref="@grdData">
            <GridExport>
                <GridExcelExport FileName="Cau_Hinh_So_Phieu_Export" AllPages="true" />
                <GridCsvExport FileName="Cau_Hinh_So_Phieu_Export" AllPages="true" />
            </GridExport>
            <GridColumns>
                <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
                <GridColumn Width="60px">
                    <Template>
                        <button class="btn btn-link" @onclick="@(()=> Open_Info((context as CSys_STT_Next).Auto_ID))">
                            <i class="mdi mdi-eye" style="color: purple;"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-cog-outline" style="color: purple;"></i>
                        </button>
                        <ul class="dropdown-menu">
                            @if (r_objChuc_Nang.Is_Have_Edit_Permission == true)
                            {
                                <li>
                                    <button class="dropdown-item" type="button" @onclick="@(()=> Open_Edit((context as CSys_STT_Next).Auto_ID))"><i class="ri-edit-2-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Hiệu chỉnh")</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" type="button" @onclick="@(()=> Open_STT_Edit((context as CSys_STT_Next).Auto_ID))"><i class="ri-edit-2-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Hiệu chỉnh chi tiết")</button>
                                </li>
                            }
                            @if (r_objChuc_Nang.Is_Have_Delete_Permission == true)
                            {
                                <div class="dropdown-divider"></div>
                                <li>
                                    <button class="dropdown-item" type="button" @onclick="@(()=> Delete_Data((context as CSys_STT_Next).Auto_ID))"><i class="ri-delete-bin-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Xóa")</button>
                                </li>
                            }
                        </ul>
                    </Template>
                </GridColumn>
                @if (CCache_Grid_UI_Global.List_Data_By_Code("1042", "grdData").Count > 0)
                {
                    <FCommon_General_Col_Grid m_strFCode="1042" m_strTen_Grid="grdData"></FCommon_General_Col_Grid>
                }
                else
                {
                    <GridColumn Field="Ma_Chu_Hang" Title="Chủ hàng" Width="100px"></GridColumn>
                    <GridColumn Field="Quy_Tac_Phieu" Title="Quy tắc" Width="200px"></GridColumn>
                    <GridColumn Field="Type_Text" Title="Type" Width="100px"></GridColumn>
                    <GridColumn Field="Digits" Title="Digits" Width="70px"></GridColumn>
                    <GridColumn Field="" Title=""><FooterTemplate></FooterTemplate></GridColumn>
                }
            </GridColumns>
        </TelerikGrid>
    </div>
</div>

@if (r_bIs_Show_Info == true)
{
    <F1042_2_Cau_Hinh_So_Phieu_Info r_iAuto_ID="@r_iAuto_ID" OnClose="@Close_Info"></F1042_2_Cau_Hinh_So_Phieu_Info>
}

@if (r_bIs_Show_Help_Guide == true)
{
    <FCommon_Help_Guide m_strFCode="@r_strActive_Function_Code" OnClose="@Close_Helpguide"></FCommon_Help_Guide>
}

@if (r_bIs_Show_Edit == true)
{
    <F1042_3_Cau_Hinh_So_Phieu_Edit r_iAuto_ID="@r_iAuto_ID" OnClose="@Close_Edit"></F1042_3_Cau_Hinh_So_Phieu_Edit>
}

@if (m_blIs_Show_Detail_Edit == true)
{
    <F1042_4_Cau_Hinh_So_Phieu_Chi_Tiet_Edit r_iAuto_ID="@r_iAuto_ID" OnClose="@Close_STT_Edit"></F1042_4_Cau_Hinh_So_Phieu_Chi_Tiet_Edit>
}


@code {
    public List<CSys_STT_Next> v_arrData = new();
    TelerikGrid<CSys_STT_Next> grdData = new();

    private bool m_blIs_Show_Detail_Edit = false;

    protected override void Init_Data()
    {

    }

    protected override void Load_Data()
    {
        Format_Grid(grdData);
        CSys_STT_Next_Controller v_objCtrData = new();
        v_arrData = v_objCtrData.FQ_529_SN_sp_sel_List_By_Created(r_objFilter.Date_From, r_objFilter.Date_To);
    }

    protected override void Delete_Data_Entry(long p_iAuto_ID)
    {
        CSys_STT_Next_Controller v_objCtrData = new();

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CSys_STT_Next v_objData = v_objCtrData.FQ_529_SN_sp_sel_Get_By_ID(p_iAuto_ID);
        if (v_objData != null)
            r_strDelete_Key = v_objData.Quy_Tac_Phieu;
        // End tracking

        v_objCtrData.FQ_529_SN_sp_del_Delete_By_ID(p_iAuto_ID, r_strActive_User_Name, r_strActive_Function_Code);

        CCache_STT_Next.Delete_Data(p_iAuto_ID);
    }

    #region form Edit con

    protected void Open_STT_Edit(long p_iID)
    {
        r_iAuto_ID = p_iID;
        r_strError = "";
        m_blIs_Show_Detail_Edit = true;
        StateHasChanged();
    }

    private void Close_STT_Edit(CEvent_Call_Back p_obj)
    {
        if (p_obj.Message_ID != (int)EModal_Result.Exception)
        {
            m_blIs_Show_Detail_Edit = false;
            grdData.Rebind();
        }
    }

    #endregion form Edit con
}
