@inherits FBase;

<div class="col-lg-7">
	<div class="row g-3">
		<div style="width: 100px; padding-top: 8px;">
			<label class="form-label">@Get_Language_Data_Field("Ngày Xuất"):</label>
		</div>
		<div style="width: 140px;">
			<TelerikDatePicker @bind-Value="@r_objFilter.Date_From" Format="@CConfig.Date_Format_String"></TelerikDatePicker>
		</div>
		<div style="width: 40px; text-align: center; padding-top: 8px;">
			<label class="form-label">--></label>
		</div>
		<div style="width: 140px;">
			<TelerikDatePicker @bind-Value="@r_objFilter.Date_To" Format="@CConfig.Date_Format_String"></TelerikDatePicker>
		</div>

		<div class="col-lg-4">
			<div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
				<button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Tim_Kiem_Click())">@Get_Language_Data_Field("Tìm kiếm")</button>
			</div>
		</div>
	</div>
</div>
<div style="padding-top: 10px;"></div>
<div class="row">
	<div class="col-lg-12">
		@((MarkupString)r_strError)

		<TelerikGrid Data="@v_arrData" Height="calc(100vh - 170px)" Resizable="true" Reorderable="true" @ref="@grdData">
			<GridColumns>
				<GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
				@if (CCache_Grid_UI_Global.List_Data_By_Code("2015", "grdData").Count > 0)
				{
					<FCommon_General_Col_Grid m_strFCode="2015" m_strTen_Grid="grdData"></FCommon_General_Col_Grid>
				}
				else
				{
					<GridColumn Field="Ngay_Xuat_Kho" Title="Ngày Xuất Kho" Width="100px"></GridColumn>
					<GridColumn Field="So_Phieu_Xuat_Kho" Title="Số Phiếu Xuất" Width="100px"></GridColumn>
					<GridColumn Field="Ma_San_Pham" Title="Mã Sản Phẩm" Width="100px"></GridColumn>
					<GridColumn Field="Ten_San_Pham" Title="Tên Sản Phẩm" Width="200px"></GridColumn>
					<GridColumn Field="SL_Xuat" Title="Số Lượng Xuất" Width="100px"></GridColumn>
					<GridColumn Field="Don_Gia_Xuat" Title="Đơn Giá Xuất" Width="100px"></GridColumn>
					<GridColumn Field="Tri_Gia" Title="Trị Giá" Width="100px"></GridColumn>
					<GridColumn Field="" Title=""><FooterTemplate Context="Footer"></FooterTemplate></GridColumn>
				}
			</GridColumns>
		</TelerikGrid>
	</div>
</div>


@code {
	public List<CXNK_Xuat_Kho_Raw_Data> v_arrData = new();
	TelerikGrid<CXNK_Xuat_Kho_Raw_Data> grdData = new();
	CXNK_Xuat_Kho_Raw_Data_Controller m_objCtrData = new();

	protected override void Init_Data()
	{

	}

	protected override void Load_Data()
	{
		Format_Grid(grdData);
		v_arrData = m_objCtrData.F2015_XKRD_sp_sel_List_Bao_Cao_Hang_Xuat(r_objFilter.Date_From, r_objFilter.Date_To);
	}
}
