@inherits FBase_Info;
<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">@Get_Language_Data_Field("Report")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>
            <ReportViewer ServiceUrl="/api/reports"
                          @bind-ReportSource="@ReportSource"
                          @bind-ScaleMode="@ScaleMode"
                          @bind-ViewMode="@ViewMode"
                          @bind-ParametersAreaVisible="@ParametersAreaVisible"
                          @bind-DocumentMapVisible="@DocumentMapVisible"
                          @bind-Scale="@Scale"
                          PageMode="@PageMode.ContinuousScroll"
                          PrintMode="@PrintMode.AutoSelect"
                          KeepClientAlive="true"
                          EnableAccessibility="true"
                          EnableSendEmail="true"
                          ServiceType="@ReportViewerServiceType.REST"
                          Height="900px"
                          Width="100%">
                <ReportViewerSettings>
                    <SendEmailDialogSettings From="from@example.com"
                                             To="to@example.com"
                                             Cc="cc@example.com"
                                             Subject="Report sent"
                                             Format="CSV"
                                             Body="Attached report. <br/> <br/> Best regards, </br> ABC">
                    </SendEmailDialogSettings>
                </ReportViewerSettings>
            </ReportViewer>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string p_lngSo_Phieu_Xuat_Kho { get; set; }
    public ScaleMode ScaleMode { get; set; } = ScaleMode.Specific;
    public ViewMode ViewMode { get; set; } = ViewMode.Interactive;
    public bool ParametersAreaVisible { get; set; }
    public bool DocumentMapVisible { get; set; }
    public double Scale { get; set; } = 1.0;
    CNumber v_objCNumber = new();
    private double v_objTotalQuantity = 0;
    List<CXNK_Xuat_Kho_Raw_Data> v_arrChiTiet = new();
    CXNK_Xuat_Kho_Raw_Data_Controller v_objCtrRawData = new();
    public ReportSourceOptions ReportSource { get; set; } = new ReportSourceOptions("rpt2012_A_M1_Phieu_Xuat_Kho_Default.trdp", new Dictionary<string, object>
    {

    });

    protected override async Task OnInitializedAsync()
    {
        v_arrChiTiet = v_objCtrRawData.F2013_XKRD_sp_sel_List_By_PhieuXuatID(CUtility.Convert_To_Int64(p_lngSo_Phieu_Xuat_Kho));

        if (v_arrChiTiet.Count() != 0)
        {
            v_objTotalQuantity += v_arrChiTiet.Sum(p => p.SL_Xuat);
        }

        ReportSource.Parameters.Add("So_Phieu_Xuat_ID", p_lngSo_Phieu_Xuat_Kho);
        ReportSource.Parameters.Add("So_Luong_Xuat_Double", v_objTotalQuantity);
        ReportSource.Parameters.Add("So_Luong_Xuat_String", v_objCNumber.ReadInt(v_objTotalQuantity.ToString(),""));
    }
}
